{{> spageh}}
{{> nav}}
{{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
    
  {{/each}}
{{/if}}
<div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{title}}</h4><br><br>
                                <p>Forgot password? No worries! We are here to help. However, to help you recover your account, please fill out this form.</p>
								
<div class="main">
    <div class="section">
        <div class="container">
<!--         what is row -->
            <div class="row tim-row">
    <form method ="POST" action ="/passwordreset">
	<br><br>
    <div class="form-group">
        <label for="Serial">Username</label>
        <input type="text" class="form-control" 
    id="username" name ="username" placeholder="Enter username" required />
        </div>
        <label for="Pin">Email</label>
        <input type="email" class="form-control" 
    id="email" name ="email" placeholder="Enter email here" required />
    </div><br/>
    <div class="form-group">
        <button type="submit" id="join" class="btn btn-primary">Locate Account</button> </form>
</div>
</div>
</div>

                            </div>
                            

                            </div>
                        </div>
                    </div>
{{> spagef}}